APP_TITLE=Payments
APP_DESCRIPTION=Асинхронный сервис процессинга платежей

API_KEY=superdupersecretkey

DB_TYPE=postgresql
DB_CONNECTOR=asyncpg
POSTGRES_DB=payments
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_CONTAINER=postgres_db
POSTGRES_PORT=5432

DB_SCHEMA=payments
